name: MLOps Full Pipeline (Training → MLflow → Registry → FastAPI Test → Docker → Deploy EC2)

on:
  push:
    branches: [ "master" ]
  workflow_dispatch: {}

jobs:
  mlops:
    runs-on: ubuntu-latest
    timeout-minutes: 90

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      ECR_URI: ${{ secrets.ECR_URI }}
      EC2_HOST: ${{ secrets.EC2_HOST }}
      EC2_USER: ${{ secrets.EC2_USER }}

      # MLflow local tracking server
      MLFLOW_TRACKING_URI: "http://127.0.0.1:5000"

    steps:

    # ----------------- CHECKOUT CODE -----------------
    - name: Checkout code
      uses: actions/checkout@v4

    # ----------------- PYTHON SETUP -----------------
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirement.txt

    - name: Check installed packages
      run: python -m pip list

    - name: Print file tree to debug path issues
      run: |
          pwd
          ls -R .

     # ----------------- TRAINING PIPELINE -----------------
    - name: Run Training (preprocess + train + log models)
      run: |
        python MLOps_project/main.py
      
    
    #    # ----------------- START MLFLOW SERVER -----------------
    # - name: Start MLflow Tracking Server
    #   run: |
    #     mkdir -p mlruns
    #     nohup mlflow server \
    #       --backend-store-uri "sqlite:///mlflow.db" \
    #       --default-artifact-root "./mlruns" \
    #       --host 127.0.0.1 \
    #       --port 5000 \
    #       > mlflow.log 2>&1 &

    # - name: Start MLflow Tracking Server + UI
    #   run: python ml_tracking.py
      
    # - name: Wait for MLflow server to be READY
    #   run: |
    #     for i in {1..20}
    #     do
    #       if curl -s http://127.0.0.1:5000; then
    #         echo "MLflow server is UP!"
    #         exit 0
    #       fi
    #       echo "Waiting for MLflow... ($i)"
    #       sleep 3
    #     done
    #     echo "MLflow did NOT start!"
    #     exit 1
      
    # # ----------------- SELECT BEST MODEL & REGISTER -----------------
    # - name: Compare runs and register best model
    #   run: python register_model.py

    # # ----------------- DOWNLOAD PRODUCTION MODEL -----------------
    # - name: Download model from MLflow Model Registry
    #   run: |
    #     python model_loder.py \
    #       --model-name student-grade-model \
    #       --model-stage Staging \
    #       --output-path src/model

    # # ----------------- FASTAPI SMOKE TEST -----------------
    # - name: Start FastAPI for Smoke Testing
    #   run: |
    #     uvicorn src.fastapi_app:app --host 0.0.0.0 --port 8000 &> fastapi.log &
    #     sleep 7
    #     echo "FastAPI Logs:"
    #     cat fastapi.log

    # - name: Run API Smoke Tests
    #   run: |
    #     curl --fail http://127.0.0.1:8000/health
    #     curl --fail -H "Content-Type: application/json" \
    #         -d '{"math":80,"science":75,"english":85,"social":90}' \
    #         http://127.0.0.1:8000/predict

    # # ----------------- DOCKER BUILD -----------------
    # - name: Build Docker Image
    #   run: |
    #     IMAGE_TAG=${GITHUB_SHA::8}
    #     docker build -t $ECR_URI:${IMAGE_TAG} .
    #     echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_ENV

    # # ----------------- AWS LOGIN -----------------
    # - name: Configure AWS Creds
    #   uses: aws-actions/configure-aws-credentials@v3
    #   with:
    #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
    #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #     aws-region: ${{ secrets.AWS_REGION }}

    # - name: Login to ECR
    #   run: |
    #     aws ecr get-login-password --region $AWS_REGION \
    #       | docker login --username AWS --password-stdin $ECR_URI

    # # ----------------- PUSH IMAGE -----------------
    # - name: Push Docker Image to ECR
    #   run: docker push $ECR_URI:${IMAGE_TAG}

    # # ----------------- DEPLOY TO EC2 -----------------
    # - name: Deploy to EC2
    #   uses: appleboy/ssh-action@v1
    #   with:
    #     host: ${{ secrets.EC2_HOST }}
    #     username: ${{ secrets.EC2_USER }}
    #     key: ${{ secrets.EC2_SSH_KEY }}
    #     script: |
    #       IMAGE="${{ env.ECR_URI }}:${{ env.IMAGE_TAG }}"
    #       sudo docker login -u AWS -p "$(aws ecr get-login-password --region $AWS_REGION)" $ECR_URI
    #       sudo docker pull $IMAGE

    #       sudo docker stop grade-api || true
    #       sudo docker rm grade-api || true

    #       sudo docker run -d --name grade-api -p 80:8000 $IMAGE

    # # ----------------- POST DEPLOY CHECK -----------------
    # - name: Post Deploy Health Check
    #   run: |
    #     sleep 12
    #     curl --fail http://${{ secrets.EC2_HOST }}/health
